<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>블로그 글 목록</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

<div class="p-5 mb-5 text-center</> bg-light>">
  <h1 class="mb-3">My Blog</h1>
  <h4 class="mb-3">블로그에 오신 것을 환영합니다.</h4>
</div>

<div class="container">
  <button type="button" id="create-btn" th:onclick="|location.href='@{/new-article}'|" class="btn btn-secondary btn-sm mb-3">글 등록</button>
  <button type="button" id="myPage-btn" class="btn btn-secondary btn-sm mb-3">마이페이지</button>
  <button type="button" id="coupon-btn" class="btn btn-warning btn-sm mb-3">쿠폰 받으러 가기</button>

  <div class="row-6" th:each="item : ${articles}">
    <div class="card">
      <div class="card-header" th:text="${item.id}">
      </div>
      <div class="card-body">
        <h5 class="card-title" th:text="${item.title}"></h5>
        <p class="card-text" th:text="${item.summary}"></p>
        <a th:href="@{/articles/{id}(id=${item.id})}" class="btn btn-primary">보러 가기</a>
      </div>
    </div>
    <br>
  </div>

  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
        <a class="page-link" th:href="@{/articles(page=${currentPage - 1})}">이전</a>
      </li>
      <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
          th:classappend="${i == currentPage} ? 'active'">
        <a class="page-link" th:href="@{/articles(page=${i})}" th:text="${i + 1}"></a>
      </li>
      <li class="page-item" th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
        <a class="page-link" th:href="@{/articles(page=${currentPage + 1})}">다음</a>
      </li>
    </ul>
  </nav>

  <button type="button" class="btn btn-secondary" id="logout-btn">로그아웃</button>
</div>
<script src="/js/article.js"></script>
<script src="/js/token.js"></script>
<script src="/js/coupon.js"></script>
</body>
</html>